@import "tailwindcss";

:root {
  --primary: #0a1628;
  --accent: #f59e0b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #0a1628;
}
